
body {
    background-image:linear-gradient(rgba(18, 54, 39, 0.7),rgba(34, 42, 77, 0.7)),url(../images/bg.png);
}

.formbg {
    background-color: #f2f2f1;
    border: 0.125rem solid transparent;
    border-radius: 0.938rem;
    padding: 1.25rem;
}

.invi {
    display: none;
}

.card {
    padding: 20px;
    border-radius: 30px;
    background: #e0e0e0;
    /* box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
     */
  }

.item-1,
.item-2 {
    flex: 1;
    padding-right: 1px;
}



@media print {

    @page {
        size: landscape a5;
        margin: 0;
        margin-left: 1.813rem;
        margin-bottom: 0.625rem;
        padding: 0 !important;
    }
    body  {
        margin: 0 !important;
        padding: 0 !important;
       
    }
  /* newly added css */

  .email-flex {
    position: relative;
    top: -4.063rem;
    display: flex;
    /* align-items: center;  */
  }

  
  .fill-0001 {
    display: flex;
    position: relative;
    top: 0.188rem;
  }
  .fill-0002 {
    display: flex;
    position: relative;
    top: -0.75rem;
  }
  .fill-0003 {
    position: relative;
  }

.test-suffix {
    position: relative;
    top: -0.938rem;
}

.contact-1{
    position: relative;
    top: -5rem;
}
.contact-2{
    position: relative;
    top: -5rem;
}

.lower-header {
    position: relative;
    top: -5.313rem;
}

.fill-area-fam {
    position: relative;
    top: -5.313rem;
}
.fill-area-educ {
    position: relative;
    top: -5.313rem;
}

.fill-2 {
    position: relative;
    top: -1.25rem;
}
.fill-3 {
    position: relative;
    top: -2.5rem;
}
.fill-4 {
    position: relative;
    top: -4.375rem;
}
.fill-5 {
    position: relative;
    top: -5.313rem;
}
.fill-6 {
    position: relative;
    top: -6.25rem;
}

.fill-02{
    position: relative;
    top: -1.25rem;
}
.fill-03{
    display: flex;
    position: relative;
    top: -2.5rem;
}
.item-1,
.item-2 {
    flex: 1;
}
.fill-04{
    position: relative;
    top: -3.75rem;
}
.fill-05{
    position: relative;
    top: -4.688rem;
}

.contact-header {
    position: relative;
    top: 11.25rem;
}

.middle-name {
    display: flex;
}
.middlename-p {
    margin: 0;
    padding: 0;
}


/* end of newly added */

.to-be-filled-up {
    position: relative;
    top: 9.375rem;
}

    .invi {
        display: block;
    }

    .visi {
        display: none;
    }

    .upperSectionMargin {
        position: relative;
        top: -80px;
    }
    /* .upperSectionMargin2 {
        position: relative;
        top: -60px;
    } */

    .pMargin {
        margin: 0;
    }

    .lowerSectionMargin {
    position: relative;
    top: -2.813rem;
    }
    .lowerSectionMargin2 {
        position: relative;
        top: -0.625rem;
    }

    
    /* fb-margin - spouse
    1 and 2 - father
    3 and 4 - mother */

    .fb-margin {
        position: relative;
        top: -1.25rem;
    }
    .fb-margin1 {
        position: relative;
        top: -2.5rem;
    }
    .fb-margin2 {
        position: relative;
        top: -3.75rem;
    }
    .yawa {
        position: relative;
        top: -1.25rem;
    }
    .fb-margin3 {
        position: relative;
        top: -5rem;
    }
    .fb-margin4 {
        position: relative;
        top: -6.25rem;
    }

    .otherInfoMargin {
        position: relative;
        top: -0.938rem;
    }

    .paraMargin {
        position: relative;
        top: -0.625rem;
    }
    .caMargin {
        position: relative;
        top: -0.625rem;
    }

.mlMargin {
    position: relative;
    top: -0.625rem;
}
.mlMargin1 {
    position: relative;
    top: -0.625rem;
}

    .smol {
        position: relative;
        font-size: 0.5rem;
    }

.header {
    position: relative;
    top: -1.875rem;
}

.header1 {
    position: relative;
    top: 0.625rem;
}

    h1 {
        font-size: 0.65rem;
    }
    h4 {
        font-size: 0.75rem;
    }

    label {
        font-size: 14px;
    }

    .pwd {
        font-size: 0.563rem;
    }
    .form-control, .form-label{
        margin-top:-10px !important ;
    }
    input[type="text"],
    input[type="email"],
    input[type="date"],
    select {
        font-size: 8pt; /* Adjust font size as needed */
        height: auto; /* Reset height to auto */
        line-height: 1; /* Reset line-height to normal */
    }

    /* Additional adjustments for checkboxes and radio buttons */
    input[type="radio"],
    input[type="checkbox"] {
        transform: scale(0.8); /* Adjust scale if needed */
    }
}

